.line {
    border: 0;
    border-top: 1px solid white;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
.section4outermost {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.left {
    width: 500px;
    padding: 30px;
}

.left p {
    font-size: 25px;
    color: grey;
}
.enlace {
    color: #ff5733; /* Color brillante (puedes cambiarlo) */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    text-decoration: none; /* Sin subrayado por defecto */
    background-color: #f0f0f0; /* Fondo de color claro */
    padding: 10px 20px; /* Relleno alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    display: inline-block; /* Asegura que el enlace se comporte como un bloque */
    margin-top: 20px; /* Espaciado superior */
    transition: all 0.3s ease; /* Animación suave */
  }
  
  .enlace:hover {
    color: white; /* Cambia el color de la fuente al pasar el ratón */
    background-color: #ff5733; /* Cambia el fondo al pasar el ratón */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño cuando se pasa el ratón */
  }
.left span {
    color: white;
}

.right h1 {
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    line-height: 100px;
}

@media (max-width:1000px) {
    .section4outermost {
        padding: 100px 20px;
    }
}

@media (max-width:750px) {
    .section4outermost {
        flex-direction: column-reverse;
    }

    .left {
        width: 95%;
        padding: 20px 0px;
    }

    .left p {
        font-size: 20px;
        text-align: center;
    }
}


@media (max-width:450px) {
    .right h1 {
        font-size: 60px;
        line-height: 60px;
    }
}