.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
 z-index: 9999;   /*  Asegura que el modal esté en la parte superior */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-top: 150px;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para un aspecto elevado */
    color: black;
    display: flex; /* Utiliza flexbox para centrar vertical y horizontalmente */
    flex-direction: column; /* Apila los elementos en una columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
  }
  
  .modalContent h2 {
    margin-bottom: 10px;
  }
  
  .modalContent button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
 
  }
  
  .modalContent button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
  }

  .titulo {
    font-family: 'Rubik', sans-serif;
    
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 46px;
  }
  /* Estilo para el color naranja */
  .orange {
    color: #E67E22; /* Color naranja */
  }
  
  /* Estilo para el color azul */
  .blue {
    color: #2874A6; /* Color azul */
  }

  .imageContainer {
    max-width: 300px; /* Establece el ancho máximo deseado */
  max-height: 200px; /* Establece la altura máxima deseada */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
  display: flex; /* Utiliza flexbox para centrar la imagen verticalmente */
  justify-content: center; /* Centra la imagen verticalmente */
  align-items: center; /* Centra la imagen horizontalmente */
  }
  
  .imgproyecto {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }


.parrafo {
  width: 50%; /* Ancho del párrafo */
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #fffefe;
  margin-bottom: 20px;
  padding: 50px;
}

.parrafo strong {
  font-weight: bold;
}

.parrafo em {
  font-style: italic;
}

.boton {
  width: 200px; /* Define el ancho del botón */
  height: 3em; /* Define la altura del botón utilizando unidades relativas */
  display: block; /* Hace que el botón sea un bloque */
  margin: 0 auto; /* Centra horizontalmente el botón */
  margin-top: 20px; /* Agrega un margen superior para separarlo del contenido anterior */

}

.projectdiv {
    background: linear-gradient(to bottom right, #ffa200 0%, #00ff99 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0px;
}

.projectdiv h1{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color: white;
}

.projectcard{
    background-color: white;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 15px 0px rgb(71, 71, 71);
}
.enlace {
  color: #ff5733; /* Color brillante (puedes cambiarlo) */
  font-size: 24px; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
  text-decoration: none; /* Sin subrayado por defecto */
  background-color: #f0f0f0; /* Fondo de color claro */
  padding: 10px 20px; /* Relleno alrededor del texto */
  border-radius: 8px; /* Bordes redondeados */
  display: inline-block; /* Asegura que el enlace se comporte como un bloque */
  margin-top: 20px; /* Espaciado superior */
  transition: all 0.3s ease; /* Animación suave */
}

.enlace:hover {
  color: white; /* Cambia el color de la fuente al pasar el ratón */
  background-color: #ff5733; /* Cambia el fondo al pasar el ratón */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño cuando se pasa el ratón */
}


.projectcard h1{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    color: black;
}