.imagen {


    max-width: 100%; /* La imagen no excederá el ancho del contenedor padre */
    max-height: 100%; /* La imagen no excederá la altura del contenedor padre */
    width: auto; /* La anchura se ajustará automáticamente */
    height: auto; /* La altura se ajustará automáticamente */
    object-fit: contain; /* La imagen se ajustará dentro del contenedor sin recortarla */
    object-position: center;
}
.projectdiv {
    background: linear-gradient(135deg, #fff 0%, #000 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0px;
}
.enlace {
    color: #ff5733; /* Color brillante (puedes cambiarlo) */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    text-decoration: none; /* Sin subrayado por defecto */
    background-color: #f0f0f0; /* Fondo de color claro */
    padding: 10px 20px; /* Relleno alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    display: inline-block; /* Asegura que el enlace se comporte como un bloque */
    margin-top: 20px; /* Espaciado superior */
    transition: all 0.3s ease; /* Animación suave */
  }
  
  .enlace:hover {
    color: white; /* Cambia el color de la fuente al pasar el ratón */
    background-color: #ff5733; /* Cambia el fondo al pasar el ratón */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño cuando se pasa el ratón */
  }
.projectdiv h1{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color: white;
}

.projectcard{
    background-color: white;

    width: 100%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 15px 0px rgb(71, 71, 71);
}
.imgproyecto{

  max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    object-fit: contain; /* o cover si quieres que la imagen cubra todo el contenedor */
    object-position: center;
}



.projectcard h1{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    color: black;
}