.social {
    background-color: white;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.social .socialcard {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: auto;
}

.social .socialcard .icon {
    width: 10px;
    height: 10px;
}
.enlace {
    color: #ff5733; /* Color brillante (puedes cambiarlo) */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Negrita */
    text-decoration: none; /* Sin subrayado por defecto */
    background-color: #f0f0f0; /* Fondo de color claro */
    padding: 10px 20px; /* Relleno alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    display: inline-block; /* Asegura que el enlace se comporte como un bloque */
    margin-top: 20px; /* Espaciado superior */
    transition: all 0.3s ease; /* Animación suave */
  }
  
  .enlace:hover {
    color: white; /* Cambia el color de la fuente al pasar el ratón */
    background-color: #ff5733; /* Cambia el fondo al pasar el ratón */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño cuando se pasa el ratón */
  }
.social .socialcard p{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(121, 121, 121);
}